:root {
    --font-family: "Roboto", sans-serif;
    --brand-default: #005eb8;
    --brand-dark: #063d72;
    --brand-bright: #009bef;
    --brand-accent: #e60011;
    --nav-brand-color: var(--brand-default);
    --nav-brand-color-dark: var(--brand-dark);
    --white: #fff;
  }
  
  * {
    box-sizing: border-box;
  }
  html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: var(--font-family);
    font-feature-settings: normal;
    font-variation-settings: normal;
  }
  body {
    margin: 0;
    line-height: inherit;
  }
  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }
  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
  b,
  strong {
    font-weight: bolder;
  }
  code,
  kbd,
  pre,
  samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      Liberation Mono, Courier New, monospace;
    font-size: 1em;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: initial;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }
  button,
  select {
    text-transform: none;
  }
  [type="button"],
  [type="reset"],
  [type="submit"],
  button {
    -webkit-appearance: button;
    background-color: initial;
    background-image: none;
  }
  :-moz-focusring {
    outline: auto;
  }
  :-moz-ui-invalid {
    box-shadow: none;
  }
  progress {
    vertical-align: initial;
  }
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  summary {
    display: list-item;
  }
  blockquote,
  dd,
  dl,
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p,
  pre {
    margin: 0;
  }
  fieldset {
    margin: 0;
  }
  fieldset,
  legend {
    padding: 0;
  }
  menu,
  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  dialog {
    padding: 0;
  }
  textarea {
    resize: vertical;
  }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af;
  }
  input::placeholder,
  textarea::placeholder {
    opacity: 1;
    color: #9ca3af;
  }
  [role="button"],
  button {
    cursor: pointer;
  }
  :disabled {
    cursor: default;
  }
  audio,
  canvas,
  embed,
  iframe,
  img,
  object,
  svg,
  video {
    display: block;
    vertical-align: middle;
  }
  img,
  video {
    max-width: 100%;
    height: auto;
  }
  [hidden] {
    display: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.5rem;
    line-height: 1.375;
  }
  h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: var(--brand-dark);
  }
  @media (min-width: 1024px) {
    h1 {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    color: var(--brand-default);
  }
  @media (min-width: 1024px) {
    h2 {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
  }
  @media (min-width: 1024px) {
    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
  h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
  }
  @media (min-width: 1024px) {
    h4 {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
  h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
  }
  @media (min-width: 1024px) {
    h5 {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
  h6 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
  @media (min-width: 1024px) {
    h6 {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  p {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  @media (min-width: 1024px) {
    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  ol,
  ul {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  @media (min-width: 1024px) {
    ol,
    ul {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  strong {
    font-weight: 600;
  }
  hr {
    clear: both;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  code {
    border-radius: 0.125rem;
    border-width: 1px;
    border-color: rgb(226 232 240);
    background-color: rgb(241 245 249);
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(51 65 85);
  }
  .row {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 64rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1rem;
  }
  @media (min-width: 1024px) {
    .row {
      gap: 2rem;
    }
  }
  .column,
  .columns {
    grid-column: 1/-1;
  }
  .small-1 {
    grid-column: span 1 / span 1;
  }
  .small-2 {
    grid-column: span 2 / span 2;
  }
  .small-3 {
    grid-column: span 3 / span 3;
  }
  .small-4 {
    grid-column: span 4 / span 4;
  }
  .small-5 {
    grid-column: span 5 / span 5;
  }
  .small-6 {
    grid-column: span 6 / span 6;
  }
  .small-7 {
    grid-column: span 7 / span 7;
  }
  .small-8 {
    grid-column: span 8 / span 8;
  }
  .small-9 {
    grid-column: span 9 / span 9;
  }
  .small-10 {
    grid-column: span 10 / span 10;
  }
  .small-11 {
    grid-column: span 11 / span 11;
  }
  .small-12 {
    grid-column: span 12 / span 12;
  }
  @media (min-width: 640px) {
    .medium-1 {
      grid-column: span 1 / span 1;
    }
    .medium-2 {
      grid-column: span 2 / span 2;
    }
    .medium-3 {
      grid-column: span 3 / span 3;
    }
    .medium-4 {
      grid-column: span 4 / span 4;
    }
    .medium-5 {
      grid-column: span 5 / span 5;
    }
    .medium-6 {
      grid-column: span 6 / span 6;
    }
    .medium-7 {
      grid-column: span 7 / span 7;
    }
    .medium-8 {
      grid-column: span 8 / span 8;
    }
    .medium-9 {
      grid-column: span 9 / span 9;
    }
    .medium-10 {
      grid-column: span 10 / span 10;
    }
    .medium-11 {
      grid-column: span 11 / span 11;
    }
    .medium-12 {
      grid-column: span 12 / span 12;
    }
  }
  @media (min-width: 1024px) {
    .large-1 {
      grid-column: span 1 / span 1;
    }
    .large-2 {
      grid-column: span 2 / span 2;
    }
    .large-3 {
      grid-column: span 3 / span 3;
    }
    .large-4 {
      grid-column: span 4 / span 4;
    }
    .large-5 {
      grid-column: span 5 / span 5;
    }
    .large-6 {
      grid-column: span 6 / span 6;
    }
    .large-7 {
      grid-column: span 7 / span 7;
    }
    .large-8 {
      grid-column: span 8 / span 8;
    }
    .large-9 {
      grid-column: span 9 / span 9;
    }
    .large-10 {
      grid-column: span 10 / span 10;
    }
    .large-11 {
      grid-column: span 11 / span 11;
    }
    .large-12 {
      grid-column: span 12 / span 12;
    }
  }
  .small-offset-1 {
    grid-column-start: 2;
  }
  .small-offset-2 {
    grid-column-start: 3;
  }
  .small-offset-3 {
    grid-column-start: 4;
  }
  .small-offset-4 {
    grid-column-start: 5;
  }
  .small-offset-5 {
    grid-column-start: 6;
  }
  .small-offset-6 {
    grid-column-start: 7;
  }
  .small-offset-7 {
    grid-column-start: 8;
  }
  .small-offset-8 {
    grid-column-start: 9;
  }
  .small-offset-9 {
    grid-column-start: 10;
  }
  .small-offset-10 {
    grid-column-start: 11;
  }
  .small-offset-11 {
    grid-column-start: 12;
  }
  @media (min-width: 640px) {
    .medium-offset-1 {
      grid-column-start: 2;
    }
    .medium-offset-2 {
      grid-column-start: 3;
    }
    .medium-offset-3 {
      grid-column-start: 4;
    }
    .medium-offset-4 {
      grid-column-start: 5;
    }
    .medium-offset-5 {
      grid-column-start: 6;
    }
    .medium-offset-6 {
      grid-column-start: 7;
    }
    .medium-offset-7 {
      grid-column-start: 8;
    }
    .medium-offset-8 {
      grid-column-start: 9;
    }
    .medium-offset-9 {
      grid-column-start: 10;
    }
    .medium-offset-10 {
      grid-column-start: 11;
    }
    .medium-offset-11 {
      grid-column-start: 12;
    }
  }
  @media (min-width: 1024px) {
    .large-offset-1 {
      grid-column-start: 2;
    }
    .large-offset-2 {
      grid-column-start: 3;
    }
    .large-offset-3 {
      grid-column-start: 4;
    }
    .large-offset-4 {
      grid-column-start: 5;
    }
    .large-offset-5 {
      grid-column-start: 6;
    }
    .large-offset-6 {
      grid-column-start: 7;
    }
    .large-offset-7 {
      grid-column-start: 8;
    }
    .large-offset-8 {
      grid-column-start: 9;
    }
    .large-offset-9 {
      grid-column-start: 10;
    }
    .large-offset-10 {
      grid-column-start: 11;
    }
    .large-offset-11 {
      grid-column-start: 12;
    }
  }
  .end {
    justify-self: end;
  }
  @media (max-width: 639px) {
    .end-small {
      justify-self: end;
    }
  }
  @media (min-width: 640px) and (max-width: 1023px) {
    .end-medium {
      justify-self: end;
    }
  }
  @media (min-width: 1024px) {
    .end-large {
      justify-self: end;
    }
  }
  .hide-small {
    display: none;
  }
  @media (min-width: 640px) {
    .hide-small {
      display: block;
    }
  }
  .hide-medium {
    display: block;
  }
  @media (min-width: 640px) and (max-width: 1023px) {
    .hide-medium {
      display: none;
    }
  }
  .hide-large {
    display: block;
  }
  @media (min-width: 1024px) {
    .hide-large {
      display: none;
    }
  }
  #page-wrap {
    margin: auto;
    display: grid;
    padding-bottom: 1.5rem;
  }
  @media (min-width: 1024px) {
    #page-wrap {
      grid-template-columns: auto auto;
      -moz-column-gap: 2.5rem;
      column-gap: 2.5rem;
    }
  }
  #siloBanner {
    position: relative;
    margin-bottom: 2.5rem;
    display: flex;
    height: 6rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(31 41 55);
  }
  @media (min-width: 768px) {
    #siloBanner {
      height: 8rem;
    }
  }
  @media (min-width: 1024px) {
    #siloBanner {
      grid-column: span 2 / span 2;
      height: 10rem;
    }
  }
  #siloBanner img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.4;
  }
  #siloBanner p {
    position: relative;
    z-index: 10;
    margin-bottom: 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: rgb(255 255 255);
  }
  #content-wrap {
    max-width: 64rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 2.5rem;
  }
  @media (min-width: 1024px) {
    #content-wrap {
      width: 64vw;
      justify-self: end;
      padding-left: 0;
      padding-right: 0;
    }
  }
  #bread_crumbs {
    margin-bottom: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.75rem;
    line-height: 1rem;
    line-height: 1.375;
    color: rgb(107 114 128);
  }
  @media (min-width: 1024px) {
    #bread_crumbs {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
  #bread_crumbs span {
    white-space: nowrap;
  }
  #bread_crumbs a {
    letter-spacing: 0.025em;
    text-decoration-line: underline;
  }
  #bread_crumbs a:hover {
    color: var(--brand-default);
  }
  #page-wrap a:not(.button) {
    color: var(--brand-dark);
  }
  #page-wrap a:not(.button):hover {
    text-decoration-line: underline;
  }
  #page-wrap ol,
  #page-wrap ul {
    margin-bottom: 1.5rem;
    padding-left: 2rem;
  }
  #page-wrap li:not(:last-child) {
    margin-bottom: 0.875rem;
  }
  #page-wrap ul[class*="arrows"],
  #page-wrap ul[class*="checks"] {
    margin-bottom: 1.5rem;
    overflow: hidden;
    padding-left: 2rem;
  }
  #page-wrap ul[class*="arrows"] li,
  #page-wrap ul[class*="checks"] li {
    position: relative;
    display: block;
  }
  #page-wrap ul[class*="arrows"] li:before,
  #page-wrap ul[class*="checks"] li:before {
    position: absolute;
    left: -2rem;
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    content: '';
    background-color: var(--brand-bright);
  }
  @media (min-width: 768px) {
    #page-wrap ul[class*="arrows"] li:before,
    #page-wrap ul[class*="checks"] li:before {
      height: 1.5rem;
      content:'';
      width: 1.5rem;
    }
  }
  .li-checks-mask {
    -webkit-mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/></svg>')
      no-repeat 50% 50%;
    mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/></svg>')
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  ul.checks li:before {
    content:'';
    -webkit-mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/></svg>')
      no-repeat 50% 50%;
    mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/></svg>')
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  .li-checks-stroke-mask {
    -webkit-mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"/></svg>')
      no-repeat 50% 50%;
    mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"/></svg>')
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  ul.checks-stroke li:before {
    content:'';
    -webkit-mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"/></svg>')
      no-repeat 50% 50%;
    mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"/></svg>')
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  .li-checks-fill-mask {
    -webkit-mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25z" clip-rule="evenodd"/></svg>')
      no-repeat 50% 50%;
    mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25z" clip-rule="evenodd"/></svg>')
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  ul.checks-fill li:before {
    content:'';
    -webkit-mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25z" clip-rule="evenodd"/></svg>')
      no-repeat 50% 50%;
    mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25z" clip-rule="evenodd"/></svg>')
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  .li-arrows-mask {
    -webkit-mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/></svg>')
      no-repeat 50% 50%;
    mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/></svg>')
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  ul.arrows li:before {
    content:'';
    -webkit-mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/></svg>')
      no-repeat 50% 50%;
    mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/></svg>')
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  .li-arrows-stroke-mask {
    -webkit-mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"/></svg>')
      no-repeat 50% 50%;
    mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"/></svg>')
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  ul.arrows-stroke li:before {
    content:'';
    -webkit-mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"/></svg>')
      no-repeat 50% 50%;
    mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"/></svg>')
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  .li-arrows-fill-mask {
    -webkit-mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3z" clip-rule="evenodd"/></svg>')
      no-repeat 50% 50%;
    mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3z" clip-rule="evenodd"/></svg>')
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  ul.arrows-fill li:before {
    content:'';
    -webkit-mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3z" clip-rule="evenodd"/></svg>')
      no-repeat 50% 50%;
    mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3z" clip-rule="evenodd"/></svg>')
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
  #page-wrap ol[class*="numbers"] {
    margin-bottom: 1.5rem;
    overflow: hidden;
    padding-left: 2.5rem;
  }
  #page-wrap ol[class*="numbers"] li {
    position: relative;
    list-style-type: none;
    counter-increment: list-item;
  }
  #page-wrap ol[class*="numbers"] li:before {
    position: absolute;
    left: -2.5rem;
    display: inline-flex;
    height: 1.5rem;
    width: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    content: counter(list-item);
  }
  #page-wrap ol.numbers {
    padding-left: 2rem;
  }
  #page-wrap ol.numbers li:before {
    left: -2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--brand-bright);
    content: counter(list-item) ".";
  }
  ol.numbers-fill li:before {
    background-color: var(--brand-bright);
    color: rgb(255 255 255);
  }
  ol.numbers-stroke li:before {
    border-width: 2px;
    border-color: var(--brand-bright);
    color: var(--brand-bright);
  }
  .button {
    clear: both;
    margin: 1.25rem auto;
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 9999px;
    background-color: var(--brand-accent);
    padding: 0.5rem 1.5rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: rgb(255 255 255);
  }
  @media (min-width: 1024px) {
    .button {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
  .bg {
    background-color: rgb(249 250 251);
  }
  .border {
    
    border-color: rgb(229 231 235);
  }
  .breakout {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  @media (min-width: 768px) {
    .breakout {
      max-width: 24rem;
    }
  }
  .breakout h3,
  .breakout ol,
  .breakout p,
  .breakout ul {
    margin: 1rem;
  }
  .breakout h3 {
    margin-bottom: 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--brand-dark);
  }
  .breakout li,
  .breakout p {
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1.375;
    color: rgb(75 85 99);
  }
  .breakout a {
    width: 100%;
  }
  .lists {
    background-color: rgb(249 250 251);
    clear: both;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow: auto;
    padding: 1.5rem;
  }
  .breakout_shadow,
  .lists,
  .sectionhighlight_shadow {
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  }
  .sectionhighlight,
  .sectionhighlight_shadow {
    background-color: rgb(249 250 251);
    clear: both;
    margin-top: 3rem;
    margin-bottom: 3rem;
    overflow: auto;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: var(--brand-bright);
    padding: 2rem;
  }
  .breakout embed,
  .breakout iframe,
  .breakout img,
  .breakout video,
  .left embed,
  .left iframe,
  .left img,
  .left video,
  .right embed,
  .right iframe,
  .right img,
  .right video {
    height: 100% !important;
    width: 100% !important;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .center,
  .left,
  .right {
    clear: both;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .gallery {
    max-width: 24rem;
  }
  @media (min-width: 1024px) {
    .gallery {
      width: 41.666667%;
    }
  }
  .gallery ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    flex-wrap: wrap;
    gap: 0.25rem;
  }
  .gallery ul li:first-child {
    grid-column: 1/-1;
  }
  .accordion-style {
    margin: 3rem auto;
  }
  .accordion-style > :not([hidden]) ~ :not([hidden]) {
    margin-top: calc(0.125rem * (1 - 0));
    margin-bottom: calc(0.125rem * 0);
  }
  .accordion-style summary {
    position: relative;
    display: flex;
    cursor: pointer;
    align-items: center;
    background-color: var(--brand-dark);
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(255 255 255);
  }
  @media (min-width: 1024px) {
    .accordion-style summary {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
  .accordion-style summary::-webkit-details-marker {
    display: none;
  }
  .accordion-style details summary:after,
  .accordion-style details summary:before {
    content: "";
    position: absolute;
    background: #fff;
    display: block;
  }
  .accordion-style details summary:before {
    right: 2rem;
    height: 0.25rem;
    width: 1rem;
  }
  .accordion-style details summary:after {
    right: calc(2rem + 6px);
    height: 1rem;
    width: 0.25rem;
  }
  .accordion-style details[open] summary:after {
    display: none;
  }
  .accordion-style__content {
    padding: 2rem;
  }
  .accordion-style__content,
  .related_pages_wrapper {
    background-color: rgb(249 250 251);
    
    border-color: rgb(229 231 235);
    border-width: 1px;
  }
  .related_pages_wrapper {
    clear: both;
    margin-top: 3rem;
    padding: 1.5rem;
  }
  .related_pages {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 640px) {
    .related_pages {
      display: block;
    }
  }
  #page-wrap .related_pages ul {
    padding-left: 1rem;
  }
  #page-wrap .related_pages ul li {
    margin-bottom: 0.25rem;
  }
  .related_pages .title {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
  }
  @media (min-width: 1024px) {
    .related_pages .title {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
  .related_pages .button {
    order: 9999;
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
  @media (min-width: 640px) {
    .related_pages .button {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: 0;
      transform: translateY(-50%);
    }
  }
  @media screen and (min-width: 768px) {
    .left {
      float: left;
      margin: 0 2rem 2rem 0;
    }
    .right {
      float: right;
      margin: 0 0 2rem 2rem;
    }
  }
  footer {
    position: relative;
    width: 100%;
    border-top-width: 1px;
  }
  footer a {
    text-decoration-line: none;
  }
  footer > div:not(#footer-address) {
    display: grid;
  }
  @media (min-width: 768px) {
    footer > div:not(#footer-address) {
      grid-template-columns: auto 1fr;
    }
  }
  #footer-contact {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(245 245 245);
    padding: 2.5rem 2rem;
  }
  @media (min-width: 768px) {
    #footer-contact {
      align-items: flex-start;
    }
  }
  #footer-contact > span {
    margin-bottom: 0.5rem;
  }
  #footer-contact a:not(.button),
  #footer-contact > span {
    color: rgb(38 38 38);
  }
  #footer-contact a:not(.button) {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
  }
  .footer-links {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  @media (min-width: 768px) {
    .footer-links {
      width: 100%;
      padding: 2.5rem 2rem;
    }
  }
  .footer-links ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }
  .footer-links > ul {
    display: grid;
    grid-template-columns: auto;
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1.375;
  }
  @media (min-width: 880px) {
    .footer-links > ul {
      grid-template-columns: auto auto auto;
    }
  }
  .footer-link ul {
    margin-top: 0.25rem;
    display: grid;
    grid-template-columns: auto auto;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    row-gap: 0.25rem;
  }
  @media (min-width: 880px) {
    @media (max-width: 1199px) {
      .footer-link ul {
        grid-template-columns: auto;
      }
    }
  }
  li.footer-link {
    position: relative;
    padding: 1.5rem 0;
    font-weight: 700;
  }
  li.footer-link:after {
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    border-bottom-width: 1px;
    content:'';
    border-color: var(--brand-dark);
  }
  li.footer-link:last-child:after {
    content:'';
    display: none;
  }
  @media not all and (min-width: 768px) {
    li.footer-link:after {
      content:'';
      left: 0;
    }
  }
  @media (min-width: 880px) {
    li.footer-link {
      padding-top: 0;
      padding-bottom: 0;
    }
    li.footer-link:after {
      top: 0;
      bottom: 0;
      right: 0.75rem;
      height: 100%;
      width: 1px;
      border-bottom-width: 0;
      content:'';
      border-right-width: 1px;
    }
  }
  @media (min-width: 1024px) {
    li.footer-link {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  .footer-link a {
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .footer-link a:hover {
    text-decoration-line: underline;
  }
  #footer-address {
    width: 100%;
    gap: 1rem;
    background-color: rgb(38 38 38);
    padding: 2rem 2.75rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.375;
    color: rgb(255 255 255);
  }
  @media (min-width: 1024px) {
    #footer-address {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 1rem;
    }
  }
  @media (min-width: 1280px) {
    #footer-address {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  #footer-address p {
    margin-bottom: 0;
  }
  #footer-address > span {
    margin-top: 0.75rem;
    display: none;
    height: 0.75rem;
    width: 1px;
    background-color: rgb(255 255 255);
  }
  @media (min-width: 1024px) {
    #footer-address > span {
      margin-top: 0;
      display: block;
    }
  }
  @media (min-width: 1280px) {
    #footer-address > span {
      height: 1rem;
    }
  }
  @media (min-width: 1536px) {
    #footer-address > span {
      height: 1.5rem;
    }
  }
  #silo-sidebar {
    order: 1;
    position: relative;
    width: 100%;
    padding: 1.5rem 1.25rem;
    justify-self: start;
  }
  #sidebar-nav {
    height: -moz-fit-content;
    height: fit-content;
    padding: 1.5rem 2rem 1rem;
    border-top: 3px solid #262626;
    background: #fff;
    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
    border-radius: 0.25rem;
  }
  #sidebar-nav ul {
    overflow: visible;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
  }
  #sidebar-nav ul ul {
    margin-block: 0;
  }
  #sidebar-nav > ul > li > a {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.2;
    display: block;
    margin-bottom: 1rem;
  }
  #sidebar-nav ul li ul li a {
    margin: 0.5rem 0;
    display: block;
  }
  #sidebar-nav > ul > li > ul > li:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
  #sidebar-nav a {
    position: relative;
    color: #333 !important;
    font-weight: 500;
    text-decoration: none;
  }
  #sidebar-nav a:hover {
    color: #262626;
    text-decoration: none;
  }
  #sidebar-nav li {
    position: relative;
  }
  #sidebar-nav ul li ul li > a:before,
  .menu > ul > li .menu-subs li a:before {
    border-color: var(--brand-bright) !important;
  }
  #sidebar-nav ul li ul li > a:before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 8px;
    border-width: 3px 3px 0 0;
    transform: translate(-25px, -50%) rotate(45deg);
    position: absolute;
    opacity: 0;
    top: 50%;
    transition: 0.2s ease;
  }
  #sidebar-nav li.active > a:before,
  #sidebar-nav li > a:hover:before {
    opacity: 1;
    transform: translate(-16px, -50%) rotate(45deg);
  }
  #sidebar-nav li.expanded ul {
    margin-left: 1rem;
  }
  #sidebar-nav li.active > a {
    font-weight: 900;
  }
  @media screen and (min-width: 1024px) {
    #silo-sidebar {
      width: clamp(300px, 25vw, 350px);
      padding: 0;
    }
    #sidebar-nav {
      width: calc(clamp(300px, 25vw, 350px) - 1.25rem);
    }
    .stuck #header {
      position: fixed;
      z-index: 99999;
      width: 100%;
      padding-bottom: 2.5rem;
      animation: stickySlideDown 0.3s ease both;
    }
    .stuck #header:before {
      content: "";
      background: #fff;
      width: 100%;
      max-width: 100%;
      height: calc(100% - 2.5rem);
      top: 0;
      z-index: -1;
      position: absolute;
      box-shadow: 0 5px 10px #0000001a;
    }
    .stuck #header--logo img {
      height: 75px;
    }
    .stuck #page-wrap {
      padding-top: 160px;
    }
    @keyframes stickySlideDown {
      0% {
        transform: translateY(-100px);
      }
      to {
        transform: translateY(0);
      }
    }
  }
  /* Utility classes */
  .absolute {
    position: absolute;
  }
  .relative {
    position: relative;
  }
  .inset-0 {
    inset: 0;
  }
  .-left-10 {
    left: -2.5rem;
  }
  .z-10 {
    z-index: 10;
  }
  .order-last {
    order: 9999;
  }
  .float-right {
    float: right;
  }
  .float-left {
    float: left;
  }
  .clear-both {
    clear: both;
  }
  .m-0 {
    margin: 0;
  }
  .m-4 {
    margin: 1rem;
  }
  .m-auto {
    margin: auto;
  }
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .mb-10 {
    margin-bottom: 2.5rem;
  }
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  .mb-3 {
    margin-bottom: 0.75rem;
  }
  .mb-4 {
    margin-bottom: 1rem;
  }
  .mb-6 {
    margin-bottom: 1.5rem;
  }
  .mb-8 {
    margin-bottom: 2rem;
  }
  .mr-0 {
    margin-right: 0;
  }
  .mr-8 {
    margin-right: 2rem;
  }
  .mt-0 {
    margin-top: 0;
  }
  .mt-1 {
    margin-top: 0.25rem;
  }
  .mt-3 {
    margin-top: 0.75rem;
  }
  .mt-6 {
    margin-top: 1.5rem;
  }
  .block {
    display: block;
  }
  .flex {
    display: flex;
  }
  .inline-flex {
    display: inline-flex;
  }
  .grid {
    display: grid;
  }
  .list-item {
    display: list-item;
  }
  .hidden {
    display: none;
  }
  .h-1 {
    height: 0.25rem;
  }
  .h-24 {
    height: 6rem;
  }
  .h-3 {
    height: 0.75rem;
  }
  .h-4 {
    height: 1rem;
  }
  .h-6 {
    height: 1.5rem;
  }
  .h-full {
    height: 100%;
  }
  .w-1 {
    width: 0.25rem;
  }
  .w-4 {
    width: 1rem;
  }
  .w-6 {
    width: 1.5rem;
  }
  .w-full {
    width: 100%;
  }
  .w-px {
    width: 1px;
  }
  .max-w-5xl {
    max-width: 64rem;
  }
  .max-w-fit {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .max-w-sm {
    max-width: 24rem;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .list-none {
    list-style-type: none;
  }
  .grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .flex-col {
    flex-direction: column;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .items-center {
    align-items: center;
  }
  .justify-center {
    justify-content: center;
  }
  .gap-1 {
    gap: 0.25rem;
  }
  .gap-4 {
    gap: 1rem;
  }
  .gap-x-4 {
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }
  .gap-y-1 {
    row-gap: 0.25rem;
  }
  .space-y-0 > :not([hidden]) ~ :not([hidden]) {
    margin-top: calc(0px * (1 - 0));
    margin-bottom: calc(0px * 0);
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .whitespace-nowrap {
    white-space: nowrap;
  }
  .rounded-full {
    border-radius: 9999px;
  }
  .rounded-sm {
    border-radius: 0.125rem;
  }
  .border {
    border-width: 1px;
  }
  .border-2 {
    border-width: 2px;
  }
  .border-y {
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
  .border-brand-bright {
    border-color: var(--brand-bright);
  }
  .border-slate-200 {
    
    border-color: rgb(226 232 240);
  }
  .bg-brand-accent {
    background-color: var(--brand-accent);
  }
  .bg-brand-dark {
    background-color: var(--brand-dark);
  }
  .bg-gray-800 {
    background-color: rgb(31 41 55);
  }
  .bg-neutral-100 {
    background-color: rgb(245 245 245);
  }
  .bg-neutral-800 {
    background-color: rgb(38 38 38);
  }
  .bg-slate-100 {
    background-color: rgb(241 245 249);
  }
  .bg-white {
    background-color: rgb(255 255 255);
  }
  .object-cover {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .p-0 {
    padding: 0;
  }
  .p-4 {
    padding: 1rem;
  }
  .p-6 {
    padding: 1.5rem;
  }
  .p-8 {
    padding: 2rem;
  }
  .px-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .px-11 {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }
  .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .pb-10 {
    padding-bottom: 2.5rem;
  }
  .pb-4 {
    padding-bottom: 1rem;
  }
  .pb-6 {
    padding-bottom: 1.5rem;
  }
  .pl-10 {
    padding-left: 2.5rem;
  }
  .pl-8 {
    padding-left: 2rem;
  }
  .pt-8 {
    padding-top: 2rem;
  }
  .text-center {
    text-align: center;
  }
  .text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .font-bold {
    font-weight: 700;
  }
  .font-normal {
    font-weight: 400;
  }
  .font-semibold {
    font-weight: 600;
  }
  .font-thin {
    font-weight: 100;
  }
  .uppercase {
    text-transform: uppercase;
  }
  .leading-snug {
    line-height: 1.375;
  }
  .tracking-wide {
    letter-spacing: 0.025em;
  }
  .text-brand {
    color: var(--brand-default);
  }
  .text-brand-bright {
    color: var(--brand-bright);
  }
  .text-brand-dark {
    color: var(--brand-dark);
  }
  .text-gray-500 {
    color: rgb(107 114 128);
  }
  .text-slate-700 {
    color: rgb(51 65 85);
  }
  .text-white {
    color: rgb(255 255 255);
  }
  .underline {
    text-decoration-line: underline;
  }

  